.admin-dates {
    height : 100%;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    color : white;

    .admin-dates__left {
        width : 40%;
        height : 100%;
        display : flex;
        justify-content: center;
        align-items:center;
        margin: 0 5%;
    }

    .admin-dates__right {
        background : $color-secondary;
        height : 100%;
        width : 50%;
        display : flex;
        flex-direction: column;
        align-items: center;

        .right__date {
            margin-top: 15px;
            margin-bottom:7%;
        }

        .right__form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;

            .input-btn input {
                background : $color-primary;
                color : white;
                height : 50px;
                width: 150px;
            }

            .right__form__1 {

                display : flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-bottom : 10%;
                
                .input-time {
                    width: 100%;
                    display : flex;
                    justify-content: space-between;
                    margin-bottom: 3%;

                    .input-time___min, 
                    .input-time___max {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 48%;

                        p {
                            font-size: 14px;
                        }

                        input {
                            width: 50%;
                            height: 40px;
                        }
                    }
                }

                .right__form__radio {

                    align-self: flex-start;
                    margin-bottom : 3%;

                    label {
                        margin-left : 30px;
                    }
                }

                .textarea {
                    margin-bottom : 2%;
                }

                .multi-btn {
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                }
            }

            .right__form__2 {

                margin-bottom: 5%;
            
                .dish-select {
                    margin-bottom: 3%;
                    width: 100%;
                    height : 3.5em;
                    padding-left: 10px;
                    outline: none;
                    border: none;
                    color: #757575;
                    background: #2B2B2B;
                    transition: 0.5s;

                    &:focus > option:checked { 
                        background: $color-primary;
                        color: white;
                    }
                }
    
                .input-duo {
                    display : flex;
                    justify-content: space-between;
    
                    .input {
                        width: 45%;
                    }
    
                    .input-btn input {
                        margin-top : 0;
                        width : 200px;
                    }
    
                    & + .input-btn {
                        align-self: flex-end;
                        margin-top : 2em;
                    }
                }
            }

            .dish-list {

                height : 40%;
                min-height: 130px;

                .list__container {
                    
                    height: 100%;
    
                    .list__container__box {
                        height : 30%;
                        padding-left: 20px;

                        .infos-dish {
                            p, span {
                                font-size: 80%;
                            }

                            span:first-child { 
                                margin-left: 0;
                            }

                            p {
                                padding:0
                            }
        
                            .nb-dish {
                                width : 125%;
                                height : 100%;
                                display : flex;
                                align-items: center;
                            }
                            
                            .icon-delete {
                                width: 15%;
                            }
                        }
                        
                    }
                }
            }
        }
    }

    @media (max-width: 1050px) {
        flex-direction: column;
        height : unset;

        .admin-dates__left {
            width : 100%;
            height : 100vh;
            margin: 0 5%;
        }

        .admin-dates__right {
            width : 100%;
            height : fit-content;

            .right__date {
                margin-top:30px;
                margin-bottom: 50px;
            }

            .right__form {

                .right__form__1 {
                    margin-bottom: 60px;

                    .multi-btn {
                        flex-direction: column;
                        align-items: center;

                        div, .input-btn, input {
                            width:100%;
                        }

                        .input-btn:first-child {
                            margin-bottom: 7px;
                        }
                    }
                }

                .right__form__2 {
                    .input-duo {
                        flex-direction: column;
                        align-items: center;

                        .input {
                            margin-top:4px;
                        }

                        .input, .input-btn {
                            width:100%;
                        }

                        .input-btn input {
                            width:100%;
                        }
                    }
                }

                .dish-list {
                    height: 200px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}