// ----------------- BUTTON ---------------------------------

.btn {
  a, button {
    z-index: 0;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    height: 30px;
    border: none;
    background-color: $color-primary;
    transition: 0.5s;
    color: white;
    overflow: hidden;

    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      left: -5%;
      width: 0%;
      height: 100%;
      background-color: $color-secondary;
      transition: 0.5s;
      transform: skewX(-10deg);
    }

    &:hover::after { width: 110% }

    &:hover { color: white }
  }
}

// ----------------- LOGO ---------------------------------

.logo { img { width: 100px } }

// ----------------- TIME ---------------------------------

.time {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;

  p:nth-child(1) {
    color: $color-primary;
    font-size: 4vw;
    
  }

  p:nth-child(2) {
    font-size: 2vw;
    color: $color-grey;
  }
}

// -------------- INPUT TEXT & TEXTAREA -----------------------------------

.input,
.input-email,
.textarea {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    background-color: #ff614f;
    transition: 0.3s;
  }

  input,
  textarea {
    color: #8d8d8d;
    font-size: 16px;
    background-color: #2b2b2b;
    border: none;
    outline: none;
    width: calc(100% - 40px);
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    transition: all ease-out 0.3s;
  }
}

.input,
.input-email {
  &::after { top: 48px }

  &:focus-within::after { width: 100% }
}

.textarea {
  display: inline;

  &::after { bottom: 5px }

  &:focus-within::after { width: 100% }

  textarea {
    padding: 20px;
    resize: vertical;
    width: 100%;
    font-size: 16px;
    height: 100px;
    max-width: calc(100% - 40px);
    max-height: 200px;
    min-height: 50px;
    // margin pour que le after soit bien en bas
    margin-bottom: 0;

    &:focus::-webkit-resizer { background: #2b2b2b }

  }
}

// --------------- INPUT BUTTON -----------------------------

.input-btn {
  position: relative;
  overflow: hidden;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: -5%;
    width: 0;
    height: 100%;
    background-color: $color-primary;
    transition: 0.5s;
    transform: skewX(-10deg);
  }

  &:hover::after {
    width: 110%;
  }

  input {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    border: 2px solid $color-primary;
    transition: 0.5s;
    color: $color-primary;
    background-color: transparent;
    transition: all ease-out 0.3s;
    outline: none;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

// --------------- LOGOUT BUTTON -----------------------------

.btn__logout {
  color: rgb(124, 124, 124);
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
      color : $color-primary;
  }
}

// --------------- INPUT CHECKBOX -----------------------------

input[type="checkbox"] {
  filter: hue-rotate(150deg);
  cursor: pointer;
  outline: none;
}

// --------------- INPUT RADIO -----------------------------

input[type="radio"] {
  display: none;
}

input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align:middle;
  width: .7rem;
  height: .7rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border : solid .1rem gray;
}

input[type="radio"]:checked + *::before {
  background: radial-gradient($color-primary 0%, $color-primary 40%, transparent 50%, transparent);
  border-color: $color-primary;
}

//  --------------- INPUT TIME -----------------------------

input[type="time"] {
  background: #2B2B2B;
  border: none;
  outline: none;
  color: $color-grey;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  cursor: text;
  font-size: 16px;

  &::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    width: 20%;
  }
  
  &::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #ff614f;
    transition: 0.3s;
  }
    
  &:focus-within::after {
    width: 100%;
  }
}

// --------------- CONFIRMATION BOX -----------------------------

.confirmation__container {
  position: fixed;
  inset: 0;
  z-index: 2;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: all .5s ease;
  
  .confirmation-box__container {
    position: absolute;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;    

    .confirmation-box__content {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      width: 550px;
      height: 250px;
      
     
      background: $color-black;
      border-radius: 15px;

      p { color: white }
  
      .content__buttons {
        display: flex;
        justify-content: space-evenly;

        width: 90%;

        .input-btn {
          &:after {
            content: none;
          }

          input {
            color: white;
            background: $color-primary;
          }
        }
      }
    }
  }
  
  .confirmation__background {
    position: absolute;

    width: 100%;
    height: 100%;

    background:rgba(43, 43, 43, 0.8);
    backdrop-filter: blur(10px);    
  }
}

// --------------- SUMMARY BOX -----------------------------

.summary-container {
  position: fixed;
  inset: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  
  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;

  transition: all .5s ease;

  .summary-content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 700px;
    height: 500px;

    background: $color-black;
    border-radius: 15px;

    .summary-items {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 75%;
      height: 90%;

      .summary-title {
        margin: 20px 0 30px 0;
        font-size: 26px;
      }

      .summary-name {
        align-self: flex-start;
        
        margin-bottom: 20px;
      }

      .summary-list {
        width: 100%;
        height: 200px;

        overflow-y: scroll;
        background: #2B2B2B;

        .list---box {
          display: flex;
          align-items: center;
          justify-content: space-between;

          height: fit-content;
          min-height: 50px;

          font-size: 14px;
          border-bottom: 1px solid white;
          padding: 0 20px;

          &:last-child { border: none }

          .box---name { width: 180px }

          .box---quantity {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 50px;
          }

          .box---price {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 50px;
          }
          
        }
      }

      .summary-total {
        align-self: flex-end;
        margin-top: 20px;
      }

      .input-btn {
        justify-self: flex-end;
        margin-top: 20px;

        input {
          color: white;
          background: $color-primary;
        }
      }
    }
  }

  .summary-background {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    transition: all 0.5s;
    background:rgba(43, 43, 43, 0.8);
    backdrop-filter: blur(10px);
  }
}


// --------------- COUNTER  -----------------------------
.counter__content {
  display: flex;
  input {
    color: #8d8d8d;
    font-size: 16px;
    background-color: #2b2b2b;
    border: none;
    outline: none;
    width: 30px;
    height: 50px;
    padding: 0 10px;
    transition: all ease-out 0.3s;
  }
  .buttons {
    display: flex;
    flex-direction: column;

    height: 50px;

      button {
        width: 25px;
        height: 25px;
        outline: none;
        border: none;
        color: white;
        background:#1B1B1B;
        transition: .3s ease;
        position: relative;

        &:hover {
          background-color: $color-primary;
        }

        &:active {
          background-color: $color-primary;

          transform: translateY(4px);
        }
    }
  }

}