.list__container {
    background: rgb(51, 51, 51);
    width: 100%;
    height : 60%;
    overflow-y : scroll;

    &::-webkit-scrollbar-track
    {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #3a3a3a;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #2b2b2b;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: $color-black;
    }
    // Enabled box -------------------------------------------

    .list__container__box {
        cursor : pointer;
        padding-left : 30px;
        height : 75px;
        border-bottom : 1px solid #5c5c5c;
        display : flex;
        align-items: center;
        justify-content: space-between;        
        transition : background-color ease-out 0.2s;

        &:hover {
            background-color : $color-primary;
        }

        span, p {
            color: white;
        }

        &:hover > .icon-delete {
            background-color : $color-secondary;
        }

        .icon-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            width : 10%;
            height: 100%;
            transition : background-color ease-out 0.2s;
        }

        p {
            display : flex;
            align-items: center;
            width: 90%;
            height : 100%;
            padding-left: 20px;
        }
    }

    // Disabled box -------------------------------------------

    .list__container__box--disabled {
        background-color: rgba(0, 0, 0, 0.3);
        padding-left : 30px;
        height : 75px;
        border-bottom : 1px solid #5c5c5c;
        display : flex;
        align-items: center;
        justify-content: space-between;

        p, span {
            color: #9b4034;
        }
    }

    // Text sizing inside the boxes -----------------------------

    .list__container__box, .list__container__box--disabled {
        span {
            margin-right: 5%;
            font-size: 14px;
            transition: all ease-out 0.3s;
        }
        p {
            font-size: 22px;
            transition: all ease-out 0.3s;
        }
    }
    @media (max-width: 1000px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 25px;
            span {
                font-size: 13px;
            }
            p {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 852px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 20px;
            span {
                font-size: 12px;
            }
            p {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 740px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 15px;
            span {
                margin-left: 3%;
                font-size: 11px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 670px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 10px;
            span {
                margin-left: 2%;
                font-size: 10px;
            }
            p {
                font-size: 13px;
            }
        }
    }
    
    @media (max-width: 590px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 10px;
            span {
                margin-left: 2%;
                font-size: 9px;
            }
            p {
                font-size: 11px;
            }
        }
    }

    @media (max-width: 540px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 25px;
            span {
                font-size: 14px;
            }
            p {
                font-size: 22px;
            }
        }
    }

    @media (max-width: 470px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 20px;
            span {
                font-size: 13px;
            }
            p {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 415px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 15px;
            span {
                font-size: 12px;
            }
            p {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 350px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 15px;
            span {
                margin-left: 3%;
                font-size: 11px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 300px) {
        .list__container__box, .list__container__box--disabled {
            padding-left: 10px;
            span {
                margin-left: 2%;
                font-size: 10px;
            }
            p {
                font-size: 12px;
            }
        }
    }

}
