@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap%22");

$color-primary : rgb(255, 97, 79);
$color-secondary : rgb(82, 62, 62);
$color-black: rgb(29,29,29);
// grey of home
$color-grey: #b1b1b1;
$color-grey-dark: rgb(128, 128, 128);
$font-primary : "Poppins", sans-serif;

*, .root {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

body {
  background-color : $color-black;
}

a {
  text-decoration: none;
}

// main pour le site utilisateur
.main, .mainAdmin {
  height : 100vh;
  margin-left : 10rem;
}


// -----------------------------------------------------------------

input[type="radio"] {
  display: none;
}

input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align:middle;
  width: .7rem;
  height: .7rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border : solid .1rem gray;
}

input[type="radio"]:checked + *::before {
  background: radial-gradient($color-primary 0%, $color-primary 40%, transparent 50%, transparent);
  border-color: $color-primary;
}